.App-header {
  background-color: lightcyan;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  opacity: 1;
}

.App-header :hover {
  opacity: 0.99;
}

.rectangle {
  position: relative;
  top: 0px;
  right: 0px;
  z-index: 99;
  margin-left: 100px;
  width: 10px;
  height: 75px;
  background-color: red;
  transform: rotate(115deg);
  opacity: 1;
}

.playerResources {
  font-size: 20px;
  margin-right: 20px;
}

svg g text {
  font-size: 4px;
  fill: black;
  fill-opacity: 0.7;
  transition: fill-opacity 0.5s;
}

.vertices{
  position: absolute;
  bottom: var(--frombottom);
  right: var(--fromright);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  opacity: 0;
}

#hover:hover + #catantiles{
  display: block;
}

#catantiles{
  display: none;
}
